
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300');

body{
  overflow: auto;
/*padding-top: 56px; /*for navbar fixed*/
  /*padding-top: 10rem;*/
  z-index: -1;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: #000000;
  color: #CD9999;
}
.banner {
  position: relative;
  padding: 70px 0;
  background: url("/assets/images/fire.jpg") left center no-repeat;
  background-size: cover;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
}
h1,h2 {
  font-weight: 200;
  margin: 0.4rem;
}

h1{
  font-size: 3.5rem;
}
h2{
  font-size: 2rem;
  color: #aaa;
}
@media(min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
}
@media(max-width: 800px) {
  .container{
    padding: 0 1rem;
  }
  h1 {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }
}

.user-data-div {
  max-height: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown-menu {
  width: 360px;
}

/*.navbar{
  z-index: 1001;
  position: fixed;
  top: 0;
  width: 100%;
}*/

:root {
  --navbar-height: 100px;
}

.navbar{
  position: relative;
  z-index: 1001;
  top: 0;
  /*height: var(--navbar-height);*/
  width: 100%;
  border-bottom: 1px solid #737373;
  padding: 0;
}

#ftco-nav{
  min-height: var(--navbar-height);
  max-height: var(--navbar-height);
}

#nav-links{
  height: var(--navbar-height);
}

.navbar-brand{
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--navbar-height);
  border-right: 1px solid #737373;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-link{
  height: 100%;
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #737373;
}

.dropdown .nav-link{
  flex-direction: row;
  width: unset;
  margin-right: 15px;
  border: none;
}

.nav-item img{
  display: block;
  width: 40px;
  height: 40px;
}

.nav-item span{
  font-size: 12px;
}

.navbar.small-fixed .nav-item img{
  display: none;
}

.navbar.small-fixed .nav-item span{
  font-size: 15px;
}

.navbar .nav-item{
  height: 100%;
}

.ftco-navbar-light .navbar-nav > .nav-item.active > a {
  color: #d291bc;
}

.navbar.small-fixed{
  position: fixed;
  --navbar-height: 60px;
  max-height: var(--navbar-height);
  min-height: var(--navbar-height);
  top: 0;
  left: 0;
  transform: translateY(-100px);
  animation: slide-down .4s forwards;
  box-shadow: 0 2px 5px 1px #505050;
}

@keyframes slide-down {
  100% {
    transform: translateY(0)
  }
}

@media (max-width: 992px) {
  .dropdown-menu {
    width: auto;
  }

  .navbar {
    padding-left: 10px;
    padding-right: 10px;
    --navbar-height: 56px;
    min-height: var(--navbar-height);
  }

  .navbar.small-fixed{
    position: fixed;
    min-height: var(--navbar-height);
    max-height: unset;
    top: 0;
    left: 0;
    transform: translateY(-100px);
    animation: slide-down .4s forwards;
  }

  #ftco-nav {
    min-height: unset;
    max-height: unset;
  }

  .navbar-brand {
    max-height: var(--navbar-height);
    border: none;
  }

  #nav-links {
    height: unset;
    padding-left: 10px;
  }

  .nav-link {
    height: 100%;
    width: unset;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-right: none;
  }

  .navbar.small-fixed .dropdown .nav-link,.dropdown .nav-link {
    flex-direction: row;
    width: unset;
    margin-right: 0;
    border: none;
    padding-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .navbar .nav-item {
    width: unset;
    height: unset;
    display: block;
  }

  .navbar.small-fixed .nav-item img, .nav-item img {
    display: block;
    width: 15px;
    height: 15px;
  }

  .navbar.small-fixed .nav-item span, .nav-item span {
    font-size: 15px;
    padding-left: 10px;
  }
}

.dropdown-toggle{
  max-height: 40px;
  padding: 5px;
}
.btn-outline-success {
  color: #aaaaaa;
  border-color: #3C2B3B;
}
.btn-outline-success {
  color: #969696;
  border-color: #3C2B3B;
}
.login-container{
  height: 100vh;
  width: 100%;
}
.login-form{
  margin: auto;
  width: 370px;
  padding: 15px;
  max-width: 100%;
}
.login-form h1{
  text-align: center;
}
.login-form label{
  padding-left: 10px;
}
.invalid-feedback {
  padding-left: 10px;
}
.login-form .form-control{
  font-size: 15px;
  min-height: 48px;
  font-weight: 500;
}
.login-form a{
  text-decoration: none;
  color:#666;
}
.login-form a:hover{
  color: #CD9999;
}
.forgot-link{
  font-size: 13px;
}

.form-control:focus{
  border-color: #3C2B3B;
  box-shadow: 0 0 0 0.2rem rgba(114,61,190,.25);
}
.btn-custom{
  background: #CD9999;
  border-color: #3C2B3B;
  color:#fff;
  font-size: 15px;
  font-weight: 600;
  min-height: 48px;
}
.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus{
  background: #CD9999;
  border-color: #3C2B3B;
  color:#fff;
}
.btn-custom:focus{
  box-shadow: 0 0 0 0.2rem rgba(114,61,190,.25);
}
.message-error{
	text-align: left;
	padding-left: 10px;
}
.avatar-div {
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 15px;
  min-height: 100px;
}
.stay-logged-check{
  margin-left: 10px;
}
/*footer*/
.footer-1{
  bottom: 0;
  position: fixed;
  width: 100%;
  display: none;
}
a {
  color: #CD9999;
  text-decoration: none;
  background-color: transparent;
}
.widget li a:hover{color: #CD9999}

.btn{
  background-color: #CD9999;
  color:#ffffff;
}
ul.social-footer2 li a:hover {background-color: #CD9999}
footer .main-footer{	padding: 20px 0;	background: #252525;}
.footer-copyright {	background: #222;	padding: 5px 0;}
.footer-copyright nav ul li {	border-left: 1px solid #505050;	display: inline-block;	line-height: 12px;	margin: 0;	padding: 0 8px;}
.footer-copyright nav ul li a{	color: #969696;}
.footer-copyright p {	color: #969696;	margin: 2px 0 0;}
.footer-top{	background: #252525;	padding-bottom: 30px;	margin-bottom: 30px;	border-bottom: 3px solid #222;}



