
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300');

/****************************NAV-BAR***************************************/

header{
    height: 95px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    z-index: 1001;
}

.sf-navbar{
    font-family: 'gilroy-medium', serif;
    font-weight: bold;
    font-size: 16px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 75px;
    background-color: transparent;
    transition: all .8s;
}

.sf-navbar.white{
    background-color: #FFFFFF;
    box-shadow: 0 0 5px 0 #505050;
    top: 0;
    left: 0;
}

.sf-navbar-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sf-navbar-item{
    position: relative;
    padding-right: 50px;
}

.sf-navbar-item a{
    color: #222222;
    cursor: pointer;
}

.sf-navbar-item a:hover{
    color: rgba(255, 82, 0, 0.84);
    cursor: pointer;
    text-decoration: none;
}

.login-btn-image{
    width: 33px;
    height: 33px;
}

.toggle-mobile-menu{
    display: none;
    width: 25px;
    height: 25px;
    background-image: url("/assets/images/menu-icons/toggle-btn-icon.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
}

.sf-navbar-item.logo{
    width: 40px;
    height: 40px;
    background-color: #dc3545;
}

.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #FFFFFF;
    z-index: 1002;
    transform: translateY(-100vh);
    transition-property: transform;
    transition-duration: .4s;
}

.mobile-nav.show{
    transform: translateY(0)
}

.mobile-nav-container{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-menu{
    font-family: 'gilroy-medium', serif;
    width: 100%;
    font-weight: bold;
    font-size: 26px;
    list-style-type: none;
    text-align: center;
    padding: 0;
    overflow-scrolling: auto;
    overflow: auto;
}

.sf-navbar-item-mobile{
    padding-bottom: 4vh;
    padding-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sf-navbar-item-mobile a{
    color: #222222;
    cursor: pointer;
}

.sf-navbar-item-mobile a:hover{
    color: rgba(255, 82, 0, 0.84);
    cursor: pointer;
    text-decoration: none;
}

.mobile-nav-header {
    padding: 15px 40px;
    height: 10vh;
}

.mobile-nav-header-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.mobile-nav-logo{
    width: 40px;
    height: 40px;
    background-color: #dc3545;
}

.mobile-nav-exit-btn{
    background-image: url("/assets/images/menu-icons/cross-icon.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.user-data-div {
    max-height: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sf-dropdown-toggle{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sf-dropdown-toggle::after{
    content: "";
    margin-left: 10px;
    width: 10px;
    height: 10px;
    background-image: url("/assets/images/menu-icons/arrow-right.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 10px 10px;
    transition: all 0.2s;
}

.sf-dropdown-toggle.toggled::after{
    transform: rotate(90deg);
}

.sf-dropdown-menu{
    display: none;
    position: absolute;
    top: 50px;
    left: -100%;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(34, 34, 34, 0.41);
    background-color: #FFFFFF;
    list-style-type: none;
    padding: 10px 20px 10px 0;
    transform: scale(0);
}

.sf-dropdown-menu-mobile{
    display: none;
    width: 90vw;
    font-size: 20px;
    color: #000000;
    text-align: left;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(34, 34, 34, 0.41);
    background-color: #FFFFFF;
    list-style-type: none;
    padding: 10px 10px 10px 0;
    top: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 20px;
    transform: scale(0);
}

.sf-dropdown-menu-mobile .user-data-div{
    max-height: unset;
    padding-bottom: 10px;
    text-align: center;
}

.dropdown-item-mobile{
    font-size: 16px;
    padding-bottom: 10px;
}

.sf-dropdown-menu.hiding{
    display: block;
    animation-name: dropdown-close;
    animation-direction: normal;
    animation-duration: 0.2s;
    transform: scale(0);

}

.sf-dropdown-menu-mobile.hiding{
    display: block;
    animation-name: dropdown-close-mobile;
    animation-direction: normal;
    animation-duration: 0.2s;
    transform: scale(0);
}

.sf-dropdown-menu.show{
    display: block;

    animation-name: dropdown-open;
    animation-duration: .2s;
    animation-direction: normal;
    transform: scale(1);
}

.sf-dropdown-menu-mobile.show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: dropdown-open-mobile;
    animation-duration: .2s;
    animation-direction: normal;
    transform: scale(1);
}

.col-left-list{
    display: flex;
    flex-direction: column;
    justify-content: left;
    list-style-type: none;
    padding: 0;
}

.sf-navbar-menu a.active, .sf-navbar-menu-mobile a.active{
    color: rgba(255, 82, 0, 0.84);
}

@keyframes dropdown-open {
    0% {
        transform: scale(0) rotate(90deg);
        transform-origin: 90% 0;
    }
    100%{
        transform: scale(1) rotate(0deg);
        transform-origin: 90% 0;
    }
}

@keyframes dropdown-close {
    0%{
        transform: scale(1) rotate(0deg);
        transform-origin: 90% 0;
    }
    100% {
        transform: scale(0) rotate(90deg);
        transform-origin: 90% 0;
    }
}

@keyframes dropdown-open-mobile {
    0% {
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes dropdown-close-mobile {
    0%{
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@media (max-width: 990px) {
    header{
        height: 10vh;
    }
    .sf-navbar{
        padding: 15px 40px;
        max-width: 100%;
    }
    .sf-navbar-item{
        padding: 0;
    }
    .toggle-mobile-menu{
        display: block;
    }
    .sf-navbar-item :not(.toggle-mobile-menu):not(.logo){
        display: none;
    }
    .sf-navbar .sf-dropdown-toggle::after{
        display: none;
    }
}

/****************************END NAV-BAR***************************************/

@font-face {
    font-family: 'gilroy-regular';
    src: url('/assets/font/gilroy-regular.woff2') format('woff2'),
    url('/assets/font/gilroy-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy-bold';
    src: url('/assets/font/gilroy-bold.woff2') format('woff2'),
    url('/assets/font/gilroy-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy-heavy';
    src: url('/assets/font/gilroy-heavy.woff2') format('woff2'),
    url('/assets/font/gilroy-heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy-light';
    src: url('/assets/font/gilroy-light.woff2') format('woff2'),
    url('/assets/font/gilroy-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy-medium';
    src: url('/assets/font/gilroy-medium.woff2') format('woff2'),
    url('/assets/font/gilroy-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
    overflow: auto;
    /*padding-top: 56px; /*for navbar fixed*/
    /*padding-top: 10rem;*/
    z-index: -1;
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'gilroy-regular', serif;
    font-size: 16px;
    /*background: #000000;*/
    color: #CD9999;
}
.banner {
    position: relative;
    padding: 120px 0 60px;
    background-size: cover;
}

.headline{
    font-family: gilroy-medium, sans-serif;
    font-size: 6vh;
    width: fit-content;
    color: #FFFFFF;
    padding-right: 2%;
    padding-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.page-container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.card-list{
    width: fit-content;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
    justify-content: center;
    transition: all 0.5s;
}

.event-card{
    width: 330px;
    height: 430px;
    max-width: 98vw;
    background-color: #dc3545;
    box-shadow: 0 0 5px 0 #505050;
}

@media (max-width: 1150px) {
    .card-list{
        grid-template-columns: auto auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 745px) {
    .card-list{
        grid-template-columns: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 450px) {
    .card-list{
        padding-left: 0;
        padding-right: 0;
    }
}

@media(max-width: 990px) {
    .page-container{
        width: 100vw;
        padding: 0;
    }

    .card-list{
        max-width: 100vw;
    }

    h1 {
        font-size: 3rem;
    }
}

h1,h2 {
    font-weight: 200;
    margin: 0.4rem;
}

h1{
    font-size: 3.5rem;
}
h2{
    font-size: 2rem;
    color: #aaa;
}
@media(min-width: 1200px) {
    h1 {
        font-size: 5rem;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }
}


.btn-outline-success {
    color: #aaaaaa;
    border-color: #3C2B3B;
}
.btn-outline-success {
    color: #969696;
    border-color: #3C2B3B;
}
.login-container{
    height: 100vh;
    width: 100%;
}
.login-form{
    margin: auto;
    width: 370px;
    padding: 15px;
    max-width: 100%;
}
.login-form h3{
    text-align: center;
}
.login-form label{
    padding-left: 10px;
}
.invalid-feedback {
    padding-left: 10px;
}
.login-form .form-control{
    font-size: 15px;
    min-height: 48px;
    font-weight: 500;
}
.login-form a{
    text-decoration: none;
    color:#666;
}
.login-form a:hover{
    color: #CD9999;
}
.forgot-link{
    font-size: 13px;
}

.form-control:focus{
    border-color: #3C2B3B;
    box-shadow: 0 0 0 0.2rem rgba(114,61,190,.25);
}
.btn-custom{
    background: #CD9999;
    border-color: #3C2B3B;
    color:#fff;
    font-size: 15px;
    font-weight: 600;
    min-height: 48px;
}
.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus{
    background: #CD9999;
    border-color: #3C2B3B;
    color:#fff;
}
.btn-custom:focus{
    box-shadow: 0 0 0 0.2rem rgba(114,61,190,.25);
}
.message-error{
    text-align: left;
    padding-left: 10px;
}
.avatar-div {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    min-height: 100px;
}
.stay-logged-check{
    margin-left: 10px;
}
/*footer*/
.footer-1{
    bottom: 0;
    position: fixed;
    width: 100%;
    display: none;
}
a {
    color: #CD9999;
    text-decoration: none;
    background-color: transparent;
}
.widget li a:hover{color: #CD9999}

.btn{
    background-color: #CD9999;
    color:#ffffff;
}
ul.social-footer2 li a:hover {background-color: #CD9999}
footer .main-footer{	padding: 20px 0;	background: #252525;}
.footer-copyright {	background: #222;	padding: 5px 0;}
.footer-copyright nav ul li {	border-left: 1px solid #505050;	display: inline-block;	line-height: 12px;	margin: 0;	padding: 0 8px;}
.footer-copyright nav ul li a{	color: #969696;}
.footer-copyright p {	color: #969696;	margin: 2px 0 0;}
.footer-top{	background: #252525;	padding-bottom: 30px;	margin-bottom: 30px;	border-bottom: 3px solid #222;}

@media (max-width: 990px) {
    footer .main-footer{

    }
}

.bg-overlay .container {
    position: relative;
    z-index: 1;
}


/* Countdown
================================================== */

.countdown > div {
    display: inline-block;
    margin: 0 40px;
    text-align: center;
}
.countdown div > span {
    line-height: 100%;
    font-size: 62px;
    font-weight: 700;
}

.countdown > div.counter-day {
    color: mediumspringgreen;
}
.countdown > div.counter-hour {
    color: lavenderblush;
}
.countdown > div.counter-minute {
    color: skyblue;
}
.countdown > div.counter-second {
    color: mediumpurple;
}
.countdown.bg-style > div.counter-day .days {
    background: mediumspringgreen;
}
.countdown.bg-style > div.counter-day .text {
    color: mediumspringgreen;
}
.countdown.bg-style > div.counter-hour .hours {
    background: lavenderblush;
}
.countdown.bg-style > div.counter-hour .text {
    color: lavenderblush;
}
.countdown.bg-style > div.counter-minute .minutes {
    background: skyblue;
}
.countdown.bg-style > div.counter-hour .text {
    color: skyblue;
}
.countdown.bg-style > div.counter-second .seconds {
    background: mediumpurple;
}
.countdown.bg-style > div.counter-second .text {
    color: mediumpurple;
}


/* Countdown col */

.countdown.countdown-col{
    border-left: 1px solid #dedede;
    border-left: 1px solid rgba(255,255,255,0.1);
    padding-left: 25px;
}

.countdown.countdown-col > div{
    margin: 0 40px 0 0;
}

.countdown.countdown-col div > span {
    font-size: 48px;
}

.countdown.countdown-col .text {
    font-size: 20px;
}
/* Countdown bg */
.countdown.bg-style > div{
    margin: 0 30px;
}
.countdown.bg-style div > span {
    font-size: 28px;
    width: 65px;
    height: 60px;
    line-height: 60px;
    border-radius: 3px;
    margin-bottom: 15px;
    display: block;
    color: #fff;
}
.countdown.bg-style div > .text{
    font-size: 20px;
    text-transform: capitalize;
}
